a {
    text-decoration-line: none;
}

.menuBar {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 50px;
    margin: -10px;
    padding: 5px;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}
.logo, .home, .msg, .cld, .dot {
    position: absolute;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    border: none;
    font-size: 15pt;
    color: white;
    font-family: 'Lobster', cursive;
}
.logo {
    left: 60px;
}
.home {
    right: 290px;
}

.msg {
    right: 190px;
}

.cld {
    right: 90px;
}
.logo:hover, .home:hover, .msg:hover, .cld:hover {
    /* transform: scale(1.2); */
    color: rgba(0, 0, 0, 0.2);
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #fafafa;
    mix-blend-mode: overlay;
}

.dot {
    right: 35px;
    background-image: url(../img/dot.png);
    width: 30px;
    height: 30px;
}

.menu__toggler {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 2.5px;
    background: #fafafa;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
    top: -8px;
}

.menu__toggler span::after {
    top: 8px;
}

.menu__toggler.active>span {
    background: transparent;
}

.menu__toggler.active>span::before,
.menu__toggler.active>span::after {
    background: white;
    top: 0px;
}

.menu__toggler.active>span::before {
    transform: rotate(-225deg);
}

.menu__toggler.active>span::after {
    transform: rotate(225deg);
}

.menu {
    position: absolute;
    top: 40px;
    left: -30%;
    z-index: 998;
    color: #005c9c;
    background: rgba(250, 250, 250, 0.7);
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    width: 30%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (max-width: 1200px) {
    .menu {
        width: 250px;
        left: -250px;
        padding: 30px;
    }

    .mcon {
        font-size: 1pt;
        padding: 0 35px;
        display: none;
        overflow: hidden;
    }
}

.menu.active {
    left: 0;
}

.menu p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.mLogo {
    font-size: 15pt;
    color: darkgray;
    font-family: 'Lobster', cursive;
}

.mTitle {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: 'Lobster', cursive;
}

.sTitle {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family: 'Lobster', cursive;
}

.mcon {
    font-size: 10pt;
    padding: 0 25px;
    display: none;
    overflow: hidden;
}

.mcon a {
    margin: 0;
    padding: 0;
}

/* 드롭다운 메뉴 */
.infobtn {
    color: white;
    padding: 16px;
    font-size: 10px;
    border: none;
}


.infodown-content {
    list-style-type: none;
    border: 1px solid #ccc;
    top: 40px;
    right: 10px;
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
}

.infodown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    left: 50%;
    top: 50%;
    font-size: 10pt;
}

.infodown-content div {
    border: 3px solid white;
    margin: 5px;
}

.show .infodown-content {
    display: block;
}

.icon-logout {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(../img/logout.png);
}

a.logout {
    border-left: 5px solid #cf2130;
}

a.userinfo {
    border-left: 5px solid #008747
}

.infodown-content li span {
    margin-left: 20px;
}

.infodown-content li a:hover {
    background: #efefef;
}

.infodown-content li a:hover i {
    color: #ea4f35
}

/* 메뉴아이콘 */
.map, .info, .cam, .user, .qna {
    position: absolute;
    background-image: url(../img/map.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-left: -30px;
}

.info {
    background-image: url(../img/info.png);
}

.cam {
    background-image: url(../img/cam.png);
}

.user {
    background-image: url(../img/user.png);
}

.qna {
    background-image: url(../img/msk.png);
}

/* 메뉴 화살표 */
.arrowspan {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    position: relative;
    right: -100px;
    margin: 2px;
    margin-top: -50px;
}

.arrowspan::before {
    display: block;
    content: '';
    width: 1px;
    height: 14px;
    background: black;
    position: absolute;
    top: 15px;
    left: 25px;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrowspan::after {
    display: block;
    content: '';
    width: 1px;
    height: 14px;
    background: black;
    position: absolute;
    top: 15px;
    left: 15px;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.arrowspan.up-arrow::before {
    -moz-transform: translate(-5px, -2px) rotate(45deg);
    -webkit-transform: translate(-5px, -2px) rotate(45deg);
    transform: translate(-5px, -2px) rotate(45deg);
}

.arrowspan.up-arrow::after {
    -moz-transform: translate(5px, -2px) rotate(-45deg);
    -webkit-transform: translate(5px, -2px) rotate(-45deg);
    transform: translate(5px, -2px) rotate(-45deg);
}

.mTitle.deployed {
    opacity: 1;
}