#main {
    font-family: 'Noto Sans Mono', monospace;
    display: flex;
    position: relative;;
    
    width: 100%;
    height: 100vh;
    /* clear: both; */
   padding: 0;
    top: 5vh;
}

.main-left{
    
    width: 69%;
    height: 100%;
    margin: 0;
}

.main-right{
    
    width: 30%;
    height: 100%;
    margin: 0;
    margin-left: 5px;
}

.lcon1{
    padding: 20px;
    justify-content: space-between;
    display: flex;
    height: 20%;
}

.lcon1 input {
    height: 20px;
    margin: 5px; 
}
.input_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input_box p {
    display: inline-block;
}
.lradio_box {
    align-self: flex-end;
}

.lcon1 button {
    height: 20px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #ccc;
    align-self: flex-end;
}

.lcon2 {
    height: 60%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 5%;
}

.lcon2_up{
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.check_btn{
    position: absolute;
    left: 26px;
    top: 126px;
    width: 11px;
    height: 25px;
}
.del_btn{
    background-image: url("../../images/delete.btn.png");
    background-size: cover;
    position: absolute;
    left: 61%;
    top: 21%;
    width: 23px;
    height: 23px;
}

.up_con1,
.up_con2,
.up_con3,
.up_con4,
.up_con5{
    height: 100%;
}
.up_con1{
    background-image: url("../../images/mask_goods.png");
    background-size:cover;
    width: 40%;
}
.up_con2{
    
    width: 20%;
}

.goods_box1, .goods_box2{
    width: 80%;
    
}

.up_con3{
    display: flex;
    padding: 0;
    margin: 0;
    width: 20%;
    align-content: center;
}
.up_con3 input {
    width: 60%;
    height: 20px;
}
.m_btn,.p_btn{
    height: 20px;
    width: 20%;
}

button,input {
    display: inline-block;
    margin: 0;
    padding: 0;

}
.up_con3 input{
    width: 60%;
}
.up_con4{
    
    width: 20%;
}
.up_con4 p {
    height: 200px;
    display: table-cell; 
    text-align:end;
    vertical-align: middle
}

.lcon2_down
{
    border-top: 1px solid #ccc;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.down_con1{
    display: inline-block;
    width: 60%;
    padding-top: 5%;
}

.lcon3{
    height: 20%;
}

.rcon1{
    height: 20%;

}
.rcon2{
    border-top: 2px solid black;
    height: 80%;

}

.rcon2_con1{
    height: 25%;
    background-color: #ccc;
    opacity: 0.5;
    padding: 10px;
    width:100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
}
.rcon2_con2{
    border-bottom: 1px solid black;
    height: 25%;
}


.entire_item{
    margin-top: 12%;

}
.entire_item, .order_price,.discount_price {
    height: 25%;
    color: #ccc;
    display: flex;
    justify-content: space-between;
}


.cj_btn{
    width: 100px;
    height: 30px;
    font-size:15px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    margin: auto;
}


.rcon2_con3{
    height: 30%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.due_price{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.order{
    width: 90%;
    height: 30%;
    color: #FFFFFF;
    background-color: #2189FF;
    border: none;
    border-radius: 30px;
    
    margin: auto;
}

