/* 메인CSS */
html {
    overflow: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p {
    font-family: "Noto Sans KR", sans-serif;
}
.wrapper {
    background: #ecf0f1;
    height: 94vh;
    padding: 0% 2%;
}

.mainContent {
    float: left;
    width: 100%;
    padding: 50px;
    margin: 0 30px;
}


.leftCont {
    float: left;
    width: 30%;
    margin-top: 5%;
}

.imagesCont {
    text-align: center;
}

.mainImageCont img#mainImage {
    width: 450px;
    height: 450px;
    margin-left: 5%;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-radius: 10px;
}

.firstCont {
    width: 20%;
}

.thumbsCont {
    margin: 50% 50%;
    margin-left: 65%;
    margin-right: -75px;
    float: left;
}

.thumbsCont ul.thumbs {
    width: 20%;
    list-style: none;
    text-align: center;
}

.thumbs li {
    display: inline;
    margin: 3%
}

.thumbs li img {
    width: 80px;
    height: 80px;
    background: white;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-radius: 5px;
    padding: 3px;
}

/* cart */

        /* 오른쪽  */
        .rightCont {
            float: left;
            width: 40%;
            margin-left: 5%;
        }

        /* 카트 폼 */
        .detailsCont {
            border-radius: 10px;
            background: white;
            width: 460px;
            min-height: 630px;
            margin: 30px;
            margin-right: 20%;
            padding: 30px;
            box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
        }
        .dtl_title, .dtl_text {
            margin-bottom: 20px;
        }
        .dtl_text {
            margin-left: 20px;
        }
        /* 구분선 */
        .gbn {
            border: 1px solid rgba(240, 240, 240, 0.9);
            width: 400px;
            margin: 20px 0 30px 10px;
        }

        /* 가격 */
        .price {
            margin-bottom: 20px;
        }
        .price1 {
            font-weight: 1000;
            width: 80%;
            float: left;
        }
        .price2 {
            width: 20%;
            float: right;
        }
        .price2 span {
            font-weight: 1000;
            font-size: 15pt;
        }

        /* 옵션박스 */
        .dtl_option {
            background: #ecf0f1;
            border-radius: 10px;
            padding: 40px;
            margin-top: 20px;
            height: 150px;
        }
        .color_L {
            width: 30%;
            float: left;
            margin-bottom: 20px;
        }
        .color_R {
            width: 70%;
            float: left;
            margin-bottom: 20px; 
        }
        .select_color {
            width: 100px;
            border-radius: 10px;
        }
        .cnt_L {
            width: 30%;
            float: left;
            margin-left: -95px; /*폰트하고 이상해져서 맞춤*/
        }
        .cnt_R {
            width: 69%; /*폰트하고 이상해져서 맞춤*/
            float: left;
        }
        /* 수량증감폼 */
        .qt, .qt-plus, .qt-minus {
            display: block;
            float: left;
            height: 25px;
            padding: 0 8px;
            border-top: 1px solid;
            border-bottom: 1px solid;
            background-color: white;
        }
        /* 갯수 */
        .qt {
            width: 47px;
            text-align: center;
        }
        /* 증감 */
        .qt-plus, .qt-minus {
            border: 1px solid;
        }
        .qt-plus {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        .qt-minus {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        /* 증감호버 */
        .qt-plus:hover, .qt-minus:hover {
            background: gray;
            border-color: gray;
            color: #fff;
            cursor: pointer;
        }


        
        /* 구매버튼 */
        .otherLinksCont ul.otherLinks {
            width: 100%;
            float: left;
            text-align: center;
        }

        .otherLinks li {
            display: inline-block;
            width: 40%;
        }

        .otherLinks li a {
            display: block;
            text-decoration: none;
            font: bold 80% Verdana;
            font-weight: 500;
            border: 1px solid black;
            border-radius: 50px;
            padding: 5% 5%;
        }
        .btn_L a {
            color: black;
        }
        .btn_R a {
            display: block;
            background: black;
            color: #fff;
        }