@charset "UTF-8";

html {
  height: 100%;
}

body {
  background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  height: 100%;
}

.box-form {
  margin: 0 auto;
  width: 60%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  box-shadow: 0 0 20px 6px #090b6f85;
  position: relative;
  top: 0px;
}

@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

.box-form div {
  height: auto;
}

.box-form .left {

  color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
  overflow: hidden;
}

.box-form .left .overlay {
  padding: 10px;
  width: 100%;
  height: 100%;
  background: #5961f9ad;
  overflow: hidden;
  box-sizing: border-box;
}

.box-form .left .overlay h1 {
  font-size: 3vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 160px;
  margin-bottom: 20px;
}

.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}







.box-form .right {
  padding: 40px 50px 40px 40px;
  /* overflow:hidden; */
  /* margin-right: 80px; */
  min-width: 160px;
}

@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
}

.box-form .right .title {
  font-size: 6vmax;
  line-height: 0;
}




.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up {
  display: none;
}

.login-html .tab {
  display: inline-block;
  border-bottom: 2px solid transparent;
}

#tab-1 {

  float: left;
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
  color: grey;
  border-color: #1161ee;
}

.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  display: inline-block;
}

.btn_con{
  padding-top: 30px;
  display: inline-block;
}


#user,
#pass {
  border-radius: 15px 15px 15px 15px;
  border-color: royalblue;
  color: royalblue;
}







.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
  transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
  transform: rotate(0);
}

/* 버튼 */
.search_btn {
  display: inline-block;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 7px;
  background: #0d6efd;
}

.search_btn:hover {
  opacity: .8;
}

.cancel_btn {
  display: inline-block;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 7px;
  background: gray;
}

.cancel_btn:hover {
  opacity: .8;
}