main {
    font-family: "Noto Sans KR", sans-serif;
}
/* #adm_page:before {
    content: "";
    background-image: url("../../images/user.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
} */

#adm_page {
    margin-left: 20%;
    margin-top: 5%;
    color: gray;
}
select {
    height: 30px;
    border: none;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    
}
input{
    height: 30px;
    border-radius: 10px;
}
select:focus{
    outline: none;
    border: 2px solid #64d488;
  }
input:focus{
    outline: none;
    border: 2px solid #64d488;
  }

.top_text {
    display: flex;
    width: 100%;
    padding-left: 20%;
}



.search_box {
    position: absolute;
    padding-left: 50%;
    padding-top: 2px;
}



.border{
    border: none;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

/* 표 */
.side_box {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    padding: 20px;
    margin: 20px;
    height: 400px;
    width: 1295px;
    margin-left: 20%;
}


.user_box {
    border: solid 1px grey;
    height: 300px;
    width: 1185px;
    text-align: center;
    border-collapse: collapse;
    padding: 0;
    margin: 30px;
}

tr,
td,
th {
    border: 1px solid grey;
    padding: 4px;
}


/* 버튼 */
.search_btn {
    display: inline-block;
    position: relative;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background: #ffc107;
}