body{
  overflow: auto;  
}

body{
  font-family: "Noto Sans KR", sans-serif;
  color: #054231;
  display: flex;
  justify-content: center;
  background: #49afa8;
  background-image: url('https://github.com/OlgaKoplik/CodePen/blob/master/leaf.png?raw=true');
  background-repeat: no-repeat, no-repeat;
  background-position:  200% -40%;
  background-size: 80%;
}
img {
  width: auto;
  height: 100%;
}
input[type="file"] {
  display: none;
}
.img-wrap{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.card{
    width: 500px;
    height: 1000px;
    padding: 15px;
    /* margin-top: 56px; */
    border-radius: 25px;
    position: fixed;
    top: 45px;
    right: 38%;
    display: flex;
    justify-content: center;
    box-shadow: 15px 10px 25px 0px #3fa1a9;
    background: #fff;
    background-image: url(https://github.com/OlgaKoplik/CodePen/blob/master/leaf2.png?raw=true), url(https://github.com/OlgaKoplik/CodePen/blob/master/leaf.png?raw=true);
    background-repeat: no-repeat, no-repeat;
    background-position: 120% -5%, 200% -40%;
    background-size: 40%, 80%;
    -webkit-animation: open .5s;
    animation: open .5s;
    font-family: "Noto Sans KR", sans-serif;
    
}
.input_area{
    margin-left:70px;
}
@-webkit-keyframes open {
  0%  {background-position: 166% -25%, 220% -69%;}
  100%{background-position: 120% -5%, 200% -40%;}
}
@keyframes open {
  0%  {background-position: 166% -25%, 220% -69%;}
  100%{background-position: 120% -5%, 200% -40%;}
}
.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background: linear-gradient(270deg, #3fa1a9, #79f1a4);
  margin-bottom: 25px;
}
.img-wrap{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.img-upload:before{
  content: "\f093";
  font-size: 90px;
  position: absolute;
  padding-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #63d3a6;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}
.img-upload:hover:before{
 opacity: 1;
}
label{
  text-transform: uppercase;
  font-weight: 700;
  color: #676767;
}

input{
  border-radius: 15px;
  border: 2px solid #b7b7b7;
  padding: 5px 5px 5px 10px;
  font-size: 18px;
  transition: 0.2s;
}
input:focus{
  outline: none;
  border: 2px solid #64d488;
}
input::-moz-placeholder{
  color: #bebebe;
}
input:-ms-input-placeholder{
  color: #bebebe;
}
input::placeholder{
  color: #bebebe;
}
p{
  margin:0px auto;
}
.post_num{
    width: 57%;
}

/* 드랍박스 */
#dropbox{
  width: 60%;
  border-radius: 15px;
  border: 2px solid #b7b7b7;
  padding: 5px 5px 5px 10px;
  transition: 0.2s;
}

#dropbox:focus{
  outline: none;
  border: 2px solid #64d488;
}

/* 버튼 */
.edit_btn{
  display: inline-block;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 7px;
  background: #64d488;
margin: 10px 0px 0px 110px;
}
.find_btn{
    display: inline-block;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background: #ffc107;
}
.cancel_btn{
  display: inline-block;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 7px;
  background: gray;
  margin :0px;
}
.edit_btn:hover{
  opacity: .8;
}
.cancel_btn:hover{
  opacity: .8;
}
.find_btn:hover{
    opacity: .8;
  }


 
   
   
