<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/prod_dtl/menu_bar.css">
    <link rel="stylesheet" href="../../resources/css/prod_dtl/prod_dtl.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</head>

<body>
    <header>
        <div class="cm_menuBar" id="cm_menuBar">
            <div class="cm_menu__toggler"><span></span></div>
            <a href="#" class="cm_logo" id="cm_logo">Coronagram</a>
            <a href="#" class="cm_home" id="cm_home">Home</a>
            <a href="#" class="cm_msg" id="cm_msg">Message</a>
            <a href="#" class="cm_cld" id="cm_cld">Calendar</a>
            <div class="cm_dropdown">
                <a class="cm_dropbtn cm_dot" id="cm_dot"></a>
                <ul class="cm_dropdown-content">
                    <li>
                        <a href="#" class="cm_logout"><i class="cm_icon-logout"></i> <span>로그아웃</span> </a>
                    </li>
                    <li>
                        <a href="#" class="cm_userinfo">개인정보수정</a>
                    </li>
            </div>
        </div>
        </div>
        <div class="cm_menu" id="cm_menu">
            <a href="#" class="cm_mLogo">Coronagram</a>
            <a href="#" class="cm_mTitle" id="cm_mTitle">
                <div class="cm_map"></div> Corona Map
                <ul class="cm_mcon" id="cm_mcon">
                    <a href="#">국내</a> <br>
                    <a href="#">해외</a>
                </ul>
            </a>
            <a href="#" class="cm_mTitle" id="cm_mTitle">
                <div class="cm_info"></div>Corona Info
                <ul class="cm_mcon" id="cm_mcon">
                    <a href="#">관련 정보</a> <br>
                    <a href="#">거리두기</a> <br>
                    <a href="#">News</a>
                </ul>
            </a>
            <a href="#" class="cm_sTitle">
                <div class="cm_cam"></div>Coronagram
            </a>
            <a href="#" class="cm_mTitle" id="cm_mTitle">
                <div class="cm_user"></div>My Page
                <ul class="cm_mcon" id="cm_mcon">
                    <a href="#">개인 페이지</a> <br>
                    <a href="#">출석 체크</a> <br>
                    <a href="#">Message</a>
                </ul>
            </a>
            <a href="#" class="cm_mTitle" id="cm_mTitle">
                <div class="cm_qna"></div>Service Center
                <ul class="cm_mcon" id="cm_mcon">
                    <a href="#">FAQ</a> <br>
                    <a href="#">Q&A</a>
                </ul>
            </a>
        </div>
    </header>
    <!-- 메인 -->
    <main>
        <div class="wrapper">
            <div class="mainContent">
                <div class="firstCont">
                    <div class="thumbsCont">
                        <ul class="thumbs">
                            <li><a href="#abc" onmouseover="changeImage(img1src)">
                                    <img src="../../resources/images/마스크.jpg" alt="" /></a></li>

                            <li><a href="#abc" onmouseover="changeImage(img2src)">
                                    <img src="../../resources/images/마스크2.jpg" alt="" /></a></li>

                            <li><a href="#abc" onmouseover="changeImage(img3src)">
                                    <img src="../../resources/images/마스크3.jpg" alt="" /></a></li>
                            <li><a href="#abc" onmouseover="changeImage(img4src)">
                                    <img src="../../resources/images/마스크4.jpg" alt="" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="leftCont">
                    <div class="imagesCont">
                        <div class="mainImageCont">
                            <img id="mainImage" src="../../resources/images/마스크.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="rightCont">
                    <div class="detailsCont">
                        <div class="dtl">
                            <!--이름 -->
                            <div class="dtl_title">
                                <h1>마스크</h1>
                            </div>
                            <div class="dtl_text">
                                <p>의료용 마스크 10매입</p>
                            </div>
                        </div>
                        <br>
                        <div class="price"><!--가격 -->
                            <div class="price1">판매가</div>
                            <div class="price2"><span>10,000</span> p</div>
                        </div>
                        <br>
                        <div class="dtl_option"><!--옵션 -->
                            <div class="dtl_color">
                                <div class="color_L">색상</div>
                                <div class="color_R">
                                    <select name="color" id="color" class="select_color">
                                        <option value="blue" selected>blue</option>
                                        <option value="yellow">yellow</option>
                                        <option value="purple">purple</option>
                                        <option value="red">red</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="dtl_cnt">
                                <div class="cnt_L">수량</div>
                                <div class="cnt_R">
                                    <span class="qt-minus">-</span>
                                    <span class="qt">1</span>
                                    <span class="qt-plus">+</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="gbn"></div>
                        <br>
                        <div class="full_price"><!--총 가격 -->
                            <div class="price1">총금액</div>
                            <div class="price2"><span>10,000</span> p</div>
                        </div>
                        <br>
                        <div class="gbn"></div>
                        <br>
                        <div class="otherLinksCont">
                            <ul class="otherLinks">
                                <li class="btn_L"><a href="#">장바구니</a></li>
                                <li class="btn_R"><a href="#">바로구매</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
    </main>
    <script src="../../resources/script/prod_dtl/prod_dtl.js"></script>
    <script src="../../resources/script/menu_bar/menu_bar.js"></script>
</body>

</html>