
html{
    overflow-x: hidden;
    background: #ecf0f1;
}
main {
    font-family: "Noto Sans KR", sans-serif;
}
body {
    font-size: 12px;
  }
  
  .bc {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 1300px;
    max-width: 76%;
    height: 100px;
    margin-left: 12%;
    counter-reset: breadcrumb;
    position: relative;
  }
  
  .bc:before {
    position: absolute;
    top: 45px;
    left: 10%;
    content: '';
    width: 80%;
    height: 2px;
    background: black;
    z-index: -10;
  }
  
  .bc .bc_item {
    float: left;
    padding-top: 40px;
    width: 20%;
    text-align: center;
    position: relative;
  }
  
  .bc .bc_item:after {
    counter-increment: breadcrumb;
    content: counter(breadcrumb);
    position: absolute;
    top: 0px;
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    text-align: center;
    border: 3px solid black;
    border-radius: 50%;
    line-height: 40px;
    background: white;
    z-index: -1;
  }
  
select{
    border-radius: 10px;
    border:0px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    height: 30px;
}
select:focus{
    outline: 2px solid #64d488;
}
input:not(.chk){
    border-radius: 10px;
    border:0px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    height: 30px;
}
input:not(.chk):focus{
    outline: 2px solid #64d488;
}
th{
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: black;
    background-color: rgba(255,255,255,0.3);
  }
  td{
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.3);
  }
  .shop_mgt_nav2{
      display: flex;
  }
  .order_list{
    flex:1;
    float : right;
  }
  .btn {
      border: none;
      margin-left: 15px;
      background: white;
  }
  .btn p {
            display: block;
            background: black;
            color: #fff;
            display: block;
            text-decoration: none;
            font: bold 80% Verdana;
            font-weight: 500;
            border-radius: 50px;
            padding: 6% 6%;
            width: 70px;
            margin-right: 50px;
        }
  .cancel_box{
    flex:1.5;
  }
#adm_page:before {
    content: "";
    background-image: url("../../images/user.png");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

#adm_page {
    margin-left: 20%;
    margin-top: 2%;
}
.gbn {
    width : 95%;
    border : 1px solid black;
    margin: 0 25px;
    background: black;
}
.cancel_select{
    margin-left:30px;
}
.edit_btn {
    float: right;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background: #64d488;
    margin-right: 40px;
}
.edit_btn:hover {
    opacity: .8;
}
.shop_mgt_title{
    flex:1;
    width: 100%;
    padding-left: 20%;
    padding-right: 8%;
}
.top_text {
    width: 100%;
    padding-left: 20%;
    padding: 1%;
    margin-left: 10%;
}

.search_box {
    position: absolute;
    padding-left: 50%;
    padding-top: 2px;
}

/* 표 */
.order_box {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 80%;
    margin-left: 10%;
    background: white;
}

.order_dtl1, .order_dtl2 {
    background: #ecf0f1;
    padding: 35px;
    border-radius: 20px;
    width: 94%;
    margin-left: 1%;
}
.order_box ul {
    margin-left: 15px;
}
.order_dtl2 {
    min-height: 320px;
}
.order_dtl2 li {
    width: 100%;
    float: left;
    margin: 10px 0;
    margin-left: 10px;
}
.order_dtl2 p {
    width: 90%;
    float: right;
}

.user_box {
    border: solid 1px grey;
    height: 300px;
    width: 94%;
    text-align: center;
    border-collapse: collapse;
    padding: 0;
    margin: 30px;
}

tr,
td,
th {
    border: 1px solid grey;
    padding: 4px;
}


/* 버튼 */
.search_btn {
    display: inline-block;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background: #ffc107;
}