<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>CodePen - Responsive Login Form</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="../../resources/css/login/login.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap">

  
</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1>Coronagram</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur et est sed felis aliquet sollicitudin</p>
      </div>
    </div>


    <div class="right">
      <p class="r_title">Login</p>
      <form action="#" method="post">
      <div class="inputs">
        <span class="title_Name">아이디</span><br>
        <input type="text" placeholder="아이디를 입력하세요"><br>
        <span class="title_Name">패스워드</span><br>
        <input type="password" placeholder="패스워드를 입력하세요"><br>
      </div>
    </form>
      <br><br>

      <div class="find_idpass">
        <!-- Angular -->
        <a href="" ></a>
      </div>
      <br>
      <div class="btn_con">
        <button class="join_btn">가입</button>
        <button class="login_btn">로그인</button>
      </div>
    </div>

  </div>
  <!-- partial -->

</body>

</html>