/* Q&A */
        .QTI, .QCI{
            width: 95%;
            border: 1px solid rgb(148, 145, 145);
        }
        .QTI {
            height: 30px;
        }
        .QCI{
            height: 250px;
        }
        .qnaBtn {
            float: right;
        }
        .add_btn {
            display: inline-block;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            transition: 0.5s;
            cursor: pointer;
            width: 60px;
            height: 30px;
            border: none;
            border-radius: 7px;
            background: #0d6efd;
        }
        .cancel_btn {
            display: inline-block;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            transition: 0.5s;
            cursor: pointer;
            width: 60px;
            height: 30px;
            border: none;
            border-radius: 7px;
            background: gray;
        }
        .add_btn:hover{
            opacity: .8;
        }
        .cancel_btn:hover {
            opacity: .8;
        }
        
/* 문의내역 */
        .scmL{
            border: 1px solid black;
            border-collapse:collapse;
            width: 90%;
            height: 265px;
            margin: 30px;
            text-align: center;
        }
        .scmLT {
            background-color: gray;
            color: white
        }
        .check0{
            color:  red;
        }
        .check1{
            color: green;
        }
        .cancel_btn {
            float: right;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            transition: 0.5s;
            cursor: pointer;
            width: 60px;
            height: 30px;
            border: none;
            border-radius: 7px;
            background: gray;
        }
        .scmL2 {
            float: left;
            width: 350px;
            height: 320px;
        }
        .scmL3 {
            float: left;
            width: 350px;
            height: 320px;
        }
        .scmL2T {
            width: 313px;
            margin-left: 15px;
        }
        textarea {
            margin-left: 15px;
        }
        .AsCon {
            margin-top: 30px;
        }

/* 반응형 */
@media (max-width: 770px) {
    .scImg {
        display: none;
    }
    .scMain {
        width: 100%;
    }
    .group {
        min-height: 700px;
        max-width: 400px;
    }
}