        header a {
            text-decoration-line: none;
        }
        textarea{
            resize: none;
        }
        .cm_menuBar {
            display: flex;
            flex-wrap: nowrap;
            width: 101vw;
            height: 50px;
            margin: -10px;
            padding: 5px;
            background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
        }
        .cm_logo, .cm_home, .cm_msg, .cm_cld, .cm_dot {
            position: absolute;
            margin-top: 10px;
            background-color: rgba(255, 255, 255, 0);
            background-size: cover;
            border: none;
            font-size: 15pt;
            color: white;
            font-family: 'Lobster', cursive;
        }
        .cm_logo {
            left: 60px;
        }
        .cm_home {
            right: 290px;
        }

        .cm_msg {
            right: 190px;
        }

        .cm_cld {
            right: 90px;
        }
        .cm_logo:hover, .cm_home:hover, .cm_msg:hover, .cm_cld:hover {
            /* transform: scale(1.2); */
            color: rgba(0, 0, 0, 0.2);
        }
        

        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .cm_dot {
            right: 35px;
            background-image: url(../../images/dot.png);
            width: 30px;
            height: 30px;
        }

        .cm_menu__toggler {
            position: absolute;
            top: 5px;
            left: 20px;
            z-index: 999;
            height: 28px;
            width: 28px;
            outline: none;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .cm_menu__toggler span,
        .cm_menu__toggler span::before,
        .cm_menu__toggler span::after {
            position: absolute;
            content: "";
            width: 28px;
            height: 2.5px;
            background: #fafafa;
            border-radius: 20px;
            transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
        }

        .cm_menu__toggler span::before {
            top: -8px;
        }

        .cm_menu__toggler span::after {
            top: 8px;
        }

        .cm_menu__toggler.active>span {
            background: transparent;
        }

        .cm_menu__toggler.active>span::before,
        .cm_menu__toggler.active>span::after {
            background: white;
            top: 0px;
        }

        .cm_menu__toggler.active>span::before {
            transform: rotate(-225deg);
        }

        .cm_menu__toggler.active>span::after {
            transform: rotate(225deg);
        }

        .cm_menu {
            position: absolute;
            top: 40px;
            left: -30%;
            z-index: 998;
            color: #005c9c;
            background: rgba(250, 250, 250, 0.7);
            -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
            width: 30%;
            height: 100%;
            padding: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
        }

        @media only screen and (max-width: 1200px) {
            .cm_menu {
                width: 250px;
                left: -250px;
                padding: 30px;
            }

            .cm_mcon {
                font-size: 1pt;
                padding: 0 35px;
                display: none;
                overflow: hidden;
            }
        }

        .cm_menu.active {
            left: 0;
        }

        .cm_menu p {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }

        .cm_mLogo {
            font-size: 15pt;
            color: darkgray;
            font-family: 'Lobster', cursive;
        }

        .cm_mTitle {
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
            font-family: 'Lobster', cursive;
        }

        .cm_sTitle {
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
            font-family: 'Lobster', cursive;
        }

        .cm_mcon {
            font-size: 10pt;
            padding: 0 25px;
            display: none;
            overflow: hidden;
        }

        .cm_mcon a {
            margin: 0;
            padding: 0;
        }

        /* 드롭다운 메뉴 */
        .cm_dropbtn {
            color: white;
            padding: 16px;
            font-size: 10px;
            border: none;
        }


        .cm_dropdown-content {
            list-style-type: none;
            border: 1px solid #ccc;
            top: 40px;
            right: 10px;
            display: none;
            position: absolute;
            min-width: 100px;
            z-index: 1;
            background-color: white;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
            border-radius: 0.5em;
        }

        .cm_dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            white-space: nowrap;
            left: 50%;
            top: 50%;
            font-size: 10pt;
        }

        .cm_dropdown-content div {
            border: 3px solid white;
            margin: 5px;
        }

        .cm_show .cm_dropdown-content {
            display: block;
        }

        .cm_icon-logout {
            position: absolute;
            width: 20px;
            height: 20px;
            background-size: cover;
            background-image: url(img/logout.png);
        }

        a.cm_logout {
            border-left: 5px solid #cf2130;
        }

        a.cm_userinfo {
            border-left: 5px solid #008747
        }

        .cm_dropdown-content li span {
            margin-left: 20px;
        }

        .cm_dropdown-content li a:hover {
            background: #efefef;
        }

        .cm_dropdown-content li a:hover i {
            color: #ea4f35
        }

        /* 메뉴아이콘 */
        .cm_map, .cm_info, .cm_cam, .cm_user, .cm_qna {
            position: absolute;
            background-image: url(img/map.png);
            background-size: cover;
            width: 20px;
            height: 20px;
            margin-left: -30px;
        }

        .cm_info {
            background-image: url(img/info.png);
        }

        .cm_cam {
            background-image: url(img/cam.png);
        }

        .cm_user {
            background-image: url(img/user.png);
        }

        .cm_qna {
            background-image: url(img/msk.png);
        }

        /* 메뉴 화살표 */
        .cm_arrowspan {
            display: block;
            float: right;
            width: 40px;
            height: 40px;
            position: relative;
            right: -100px;
            margin: 2px;
            margin-top: -50px;
        }

        .cm_arrowspan::before {
            display: block;
            content: '';
            width: 1px;
            height: 14px;
            background: black;
            position: absolute;
            top: 15px;
            left: 25px;
            -moz-transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .cm_arrowspan::after {
            display: block;
            content: '';
            width: 1px;
            height: 14px;
            background: black;
            position: absolute;
            top: 15px;
            left: 15px;
            -moz-transition: all 300ms ease;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .cm_arrowspan.up-arrow::before {
            -moz-transform: translate(-5px, -2px) rotate(45deg);
            -webkit-transform: translate(-5px, -2px) rotate(45deg);
            transform: translate(-5px, -2px) rotate(45deg);
        }

        .cm_arrowspan.up-arrow::after {
            -moz-transform: translate(5px, -2px) rotate(-45deg);
            -webkit-transform: translate(5px, -2px) rotate(-45deg);
            transform: translate(5px, -2px) rotate(-45deg);
        }

        .cm_mTitle.deployed {
            opacity: 1;
        }
        /* main */
        .sc {
            max-width: 800px;
            margin: auto;
            margin-top: 5%;
            background: white;
            padding: 10px;
        }

        .scName1 {
            font-size: 15pt;
            color: gray;
        }

    .sc-html .scm1-htm,
    .sc-html .scm2-htm,
    .sc-html .scm3-htm{
        top:10px;
        left:0;
        right:0;
        bottom:0;
        position:absolute;
        transform:rotateY(180deg); /*다른창 가림*/
        backface-visibility:hidden; /*다른창 가림*/
        /* transition:all .4s linear; 빙글도는액션 */
    }
    .sc-html .scm1,
    .sc-html .scm2,
    .sc-html .scm3,
    .sc-form .group .check{
        display:none;
    }

    .sc-html .tab{
        display:inline-block;
        border-bottom:2px solid transparent;
    }

    #tab-1{
        float: left;
    }
    .sc-html .scm1:checked + .tab,
    .sc-html .scm2:checked + .tab,
    .sc-html .scm3:checked + .tab{
        color:grey;
        border-color:#1161ee;
    }
    .sc-form{
        min-height:25px;
        position:relative;
        perspective:1000px;
        transform-style:preserve-3d;
    }
    .sc-form .group .sclabel,
    .sc-form .group .input,
    .sc-form .group .button{
        display:inline-block;
    }

    .sc-html .scm1:checked + .tab + .scm2 + .tab +  .scm3 + .tab +.sc-form .scm1-htm{
        transform:rotate(0);
    }
    .sc-html .scm2:checked + .tab + .scm3 + .tab + .sc-form .scm2-htm{
        transform:rotate(0);
    }
    .sc-html .scm3:checked + .tab + .sc-form .scm3-htm{
        transform:rotate(0);
    }
        .scm {
            margin-top: 30px;
            margin-left: 20px;
        }
        .group {
            border: 1px solid black;
            padding: 20px;
            margin-top: 10px;
            min-height: 400px;
        }
        .scMain {
            width: 60%;
        }
/* FAQ */
        .scQ {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

        .SCactive,
        .scQ:hover {
            background-color: #ccc;
        }

        .scA {
            padding: 0 18px;
            width: 100%;
            display: none;
            background-color: white;
            overflow: hidden;
        }
        button.scQ.active::after {
            content: "\2212";
        }
        button.scQ:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        .scImg {
            background-image: url(../../images/question.png);
            background-size: cover;
            float: right;
            width: 260px;
            height: 350px;
        }
/* Q&A */
        .QTI, .QCI{
            width: 100%;
            border: 1px solid rgb(148, 145, 145);
        }
        .QTI {
            height: 30px;
        }
        .QCI{
            height: 250px;
        }
        .qnaBtn {
            float: right;
        }
        .add_btn {
            display: inline-block;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            transition: 0.5s;
            cursor: pointer;
            width: 60px;
            height: 30px;
            border: none;
            border-radius: 7px;
            background: #0d6efd;
        }
        .cancel_btn {
            display: inline-block;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            transition: 0.5s;
            cursor: pointer;
            width: 60px;
            height: 30px;
            border: none;
            border-radius: 7px;
            background: gray;
        }
        .add_btn:hover{
            opacity: .8;
        }
        .cancel_btn:hover {
            opacity: .8;
        }
        
/* 문의내역 */
        .scmL{
            border: 1px solid black;
            border-collapse:collapse;
            width: 90%;
            height: 265px;
            margin: 30px;
            text-align: center;
        }
        .scmLT {
            background-color: gray;
        }
        .check0{
            color:  red;
        }
        .check1{
            color: green;
        }
        .cancel_btn {
            float: right;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            transition: 0.5s;
            cursor: pointer;
            width: 60px;
            height: 30px;
            border: none;
            border-radius: 7px;
            background: gray;
        }
        .scmL2 {
            float: left;
            width: 350px;
            height: 320px;
        }
        .scmL3 {
            float: left;
            width: 350px;
            height: 320px;
        }
        .scmL2T {
            width: 315px;
            margin-left: 10px;
        }
        textarea {
            margin-left: 15px;
        }
        .AsCon {
            margin-top: 30px;
        }

/* 반응형 */
@media (max-width: 770px) {
    .scImg {
        display: none;
    }
    .scMain {
        width: 100%;
    }
    .group {
        min-height: 700px;
        max-width: 400px;
    }
}